In [179]:
path = r"C:\Users\aman1\Desktop\MLOps\playground-series-s3e8\train.csv"

In [180]:
import pandas as pd

In [181]:
data = pd.read_csv(path)
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [182]:
data['cut'].value_counts()

cut
Ideal        92454
Premium      49910
Very Good    37566
Good         11622
Fair          2021
Name: count, dtype: int64

In [183]:
data['color'].value_counts()

color
G    44391
E    35869
F    34258
H    30799
D    24286
I    17514
J     6456
Name: count, dtype: int64

In [184]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [185]:
data.size #memory in kb

2129303

In [186]:
data.shape

(193573, 11)

In [187]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [188]:
data = data.drop(labels=['id'], axis = 1)

In [189]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [190]:
data.duplicated().sum()

0

In [191]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
carat,193573.0,0.790688,0.462688,0.2,0.40,0.70,1.03,3.50
depth,193573.0,61.820574,1.081704,52.1,61.30,61.90,62.40,71.60
table,193573.0,57.227675,1.918844,49.0,56.00,57.00,58.00,79.00
x,193573.0,5.715312,1.109422,0.0,4.70,5.70,6.51,9.65
y,193573.0,5.720094,1.102333,0.0,4.71,5.72,6.51,10.01
z,193573.0,3.534246,0.688922,0.0,2.90,3.53,4.03,31.30
price,193573.0,3969.155414,4034.374138,326.0,951.00,2401.00,5408.00,18818.00

In [192]:
cat_df = data.select_dtypes(include="object")
cat_cols = list(cat_df.columns)
cat_cols

['cut', 'color', 'clarity']

In [193]:
num_df = data.select_dtypes(include=['int', 'float'])
num_cols = list(num_df.columns)
num_cols = num_cols[:len(num_cols)-1]
num_cols

['carat', 'depth', 'table', 'x', 'y', 'z']

In [194]:
# cut_map={"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}
# clarity_map = {"I1":1,"SI2":2 ,"SI1":3 ,"VS2":4 , "VS1":5 , "VVS2":6 , "VVS1":7 ,"IF":8}
# color_map = {"D":1 ,"E":2 ,"F":3 , "G":4 ,"H":5 , "I":6, "J":7}

In [195]:
# data["cut"]=data["cut"].map(cut_map)
# data["clarity"]=data["clarity"].map(clarity_map)
# data["color"]=data["color"].map(color_map)

In [196]:
data

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [197]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [198]:
y = data['price']
X = data.iloc[:,:-1]

In [199]:
num_pipeline = Pipeline(
    steps = [
        ("imputer",SimpleImputer()),
        ("scalar", StandardScaler())
    ]

)

In [200]:

cat_pipeline = Pipeline(
steps = 
[
    ("imputer", SimpleImputer(strategy='most_frequent')),
    ("ordinalencoder",OrdinalEncoder(categories=[cut_categories, color_categories, clarity_categories]))
]

)

In [201]:
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [202]:
Preprocessor = ColumnTransformer(
[
 ("Numerical Pipeline", num_pipeline,num_cols),
 ("Cat Pipeline", cat_pipeline,cat_cols)
]

)

In [203]:
from sklearn.model_selection import train_test_split

In [204]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

In [205]:
X_train_scaled = Preprocessor.fit_transform(X_train)

In [206]:
X_test_scaled = Preprocessor.transform(X_test)

In [207]:
X_train = pd.DataFrame(X_train_scaled, columns = Preprocessor.get_feature_names_out())
X_test = pd.DataFrame(X_test_scaled, columns=Preprocessor.get_feature_names_out())

In [208]:
X_test

,Numerical Pipeline__carat,Numerical Pipeline__depth,Numerical Pipeline__table,Numerical Pipeline__x,Numerical Pipeline__y,Numerical Pipeline__z,Cat Pipeline__cut,Cat Pipeline__color,Cat Pipeline__clarity
0,-0.629077,0.258230,-0.120630,-0.600482,-0.581521,-0.572248,4.0,0.0,2.0
1,2.605374,-2.148014,-0.120630,2.126042,2.198832,1.959219,2.0,3.0,1.0
2,-1.125026,-1.222536,0.921902,-1.374347,-1.414721,-1.469110,3.0,1.0,6.0
3,-1.017211,-0.574701,0.921902,-1.158385,-1.161138,-1.194265,3.0,5.0,6.0
4,0.858771,0.628421,-0.641897,0.947248,0.985258,1.004495,4.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...
58067,0.255007,0.535873,0.921902,0.416340,0.369414,0.425874,2.0,5.0,1.0
58068,-0.607514,0.535873,-0.641897,-0.528495,-0.554351,-0.499920,4.0,0.0,3.0
58069,-0.823144,-0.019414,-0.641897,-0.834441,-0.862273,-0.847093,4.0,3.0,6.0
58070,0.901897,-0.667249,1.443168,1.046230,0.967145,0.932167,3.0,5.0,2.0
58071,0.470637,0.906065,-0.641897,0.551317,0.668280,0.700719,2.0,1.0,3.0

In [209]:
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [220]:
models = {

    'Linear Regression':LinearRegression(),
    "Lasso Regression": Lasso(),
    "Ridge Regression" : Ridge(),
    "Elastic Net": ElasticNet(),
    "XG Boost": XGBRegressor()
}

In [211]:
nr = X_train.shape[0]
nf = X_train.shape[1]
nr, nf

(135501, 9)

In [153]:
def evaluate_model(true, pred, no_of_features, no_of_rows):
    r2 = r2_score(true, pred)
    adj_r2 = 1 - ((1 - r2)*(no_of_rows - 1))/(no_of_rows-no_of_features-1)
    mse = mean_squared_error(true, pred)
    rmse = mse**0.5
    mae = mean_absolute_error(true, pred)

    return mae, mse,r2,rmse, adj_r2

In [154]:
train_model_list = []
model_list = []
r2_list = []
rmse_list = []
adj_r2_list=[]


for selected_model in models.values():
    # print(selected_model)
    selected_model.fit(X_train, y_train)
    y_pred = selected_model.predict(X_test)

    MAE, MSE, R2 ,RMSE, adj_r2 = evaluate_model(y_test, y_pred, nf, nr)

    print(f"Model testing performance for {selected_model}")
    print("MAE:",MAE)
    print("MSE:",MSE)
    print("R2 Score:",R2)
    print("Adj R2 Score:",adj_r2)
    print("RMSE:",RMSE)

    model_list.append(selected_model)
    r2_list.append(R2)
    adj_r2_list.append(adj_r2)
    rmse_list.append(RMSE)


    print("*"*80)
    print("\n")

Model testing performance for LinearRegression()
MAE: 675.0758270067478
MSE: 1029473.3531156847
R2 Score: 0.9362906819996047
Adj R2 Score: 0.9362864501033017
RMSE: 1014.6296630375463
********************************************************************************


Model testing performance for Lasso()
MAE: 676.3788803086728
MSE: 1029534.1175907081
R2 Score: 0.9362869215688461
Adj R2 Score: 0.936282689422756
RMSE: 1014.6596067601726
********************************************************************************


Model testing performance for Ridge()
MAE: 675.1087261318745
MSE: 1029482.8329815698
R2 Score: 0.9362900953347937
Adj R2 Score: 0.9362858633995214
RMSE: 1014.634334615959
********************************************************************************


Model testing performance for ElasticNet()
MAE: 1051.1722281863017
MSE: 2291130.0570947696
R2 Score: 0.8582126162411591
Adj R2 Score: 0.8582031980033881
RMSE: 1513.647930363851
********************************************************************************


Model testing performance for XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)
MAE: 297.25052956080435
MSE: 345616.14680618217
R2 Score: 0.9786114240487077
Adj R2 Score: 0.9786100033109203
RMSE: 587.8912712451021
********************************************************************************


Model testing performance for RandomForestRegressor()
MAE: 310.4756115639561
MSE: 375078.4487639451
R2 Score: 0.9767881392023637
Adj R2 Score: 0.9767865973527414
RMSE: 612.4364854937572
********************************************************************************

In [161]:
df = pd.DataFrame([model_list, r2_list, adj_r2_list,rmse_list]).T
df.columns = [['Model',"R2", "Adj_R2","RMSE"]]

In [174]:
df

,Model,R2,Adj_R2,RMSE
0,LinearRegression(),0.936291,0.936286,1014.629663
1,Lasso(),0.936287,0.936283,1014.659607
2,Ridge(),0.93629,0.936286,1014.634335
3,ElasticNet(),0.858213,0.858203,1513.64793
4,"XGBRegressor(base_score=None, booster=None, ca...",0.978611,0.97861,587.891271
5,"(DecisionTreeRegressor(max_features=1.0, rando...",0.976788,0.976787,612.436485

In [178]:
#Extras
import os

os.path.dirname(r"C:\Users\aman1\Desktop\MLOps\playground-series-s3e8")

'C:\\Users\\aman1\\Desktop\\MLOps'

In [223]:
models = {

    'Linear Regression':LinearRegression(),
    "Lasso Regression": Lasso(),
    "Ridge Regression" : Ridge(),
    "Elastic Net": ElasticNet(),
    "XG Boost": XGBRegressor()
}

report = {}
for model_name,model in zip(models.keys(), models.values()):
    model.fit(X_train, y_train)
    y_test_pred =model.predict(X_test)
    test_model_score_r2 = r2_score(y_test,y_test_pred)
    test_model_score_mse = mean_squared_error(y_test,y_test_pred)
    print(f"R2 and MSE Score for {model_name}:",test_model_score_r2, test_model_score_mse)
    report[model_name] = [test_model_score_r2, test_model_score_mse]


print(report)

R2 and MSE Score for Linear Regression: 0.9362906819996047 1029473.3531156847
R2 and MSE Score for Lasso Regression: 0.9362869215688461 1029534.1175907081
R2 and MSE Score for Ridge Regression: 0.9362900953347937 1029482.8329815698
R2 and MSE Score for Elastic Net: 0.8582126162411591 2291130.0570947696
R2 and MSE Score for XG Boost: 0.9786114240487077 345616.14680618217
{'Linear Regression': [0.9362906819996047, 1029473.3531156847], 'Lasso Regression': [0.9362869215688461, 1029534.1175907081], 'Ridge Regression': [0.9362900953347937, 1029482.8329815698], 'Elastic Net': [0.8582126162411591, 2291130.0570947696], 'XG Boost': [0.9786114240487077, 345616.14680618217]}

In [228]:
pd.DataFrame(report).T

                          0             1
Linear Regression  0.936291  1.029473e+06
Lasso Regression   0.936287  1.029534e+06
Ridge Regression   0.936290  1.029483e+06
Elastic Net        0.858213  2.291130e+06
XG Boost           0.978611  3.456161e+05

In [ ]:
model = list(models.values())[i]
    # Train model
    model.fit(X_train,y_train)

    

    # Predict Testing data
    y_test_pred =model.predict(X_test)

    # Get R2 scores for train and test data
    #train_model_score = r2_score(ytrain,y_train_pred)
    test_model_score = r2_score(y_test,y_test_pred)